.headerContent{
    background-color: rgb(51, 50, 50);
    padding: 10px;
    text-align: center;
    word-spacing: 30px;
    letter-spacing: 5px;
    text-transform: capitalize;
    color: white;
  }